<form>

    <label for="name">Name product</label>
    <input id="name" name="nameProduct" type="text" placeholder="Type here is name product" required/>

    <label for="description">Description</label>
    <input id="description" name="description" type="text" placeholder="Type here is description"/>

    <select required>
        <option value="freshFood">Select product category</option>
        <option value="freshFood">Fresh food</option>
        <option value="perishableFood">Perishable food</option>
        <option value="notPerishableFood">Not Perishable food</option>
        <option value="Drinks">Drinks</option>
        <option value="cleaningProducts">Cleaning products</option>
        <option value="fronzen">Fronzen</option>
        <option value="petShop">Pet shop</option>
        <option value="spices">Spices</option>
        <option value="stationeryProducts">Stationery products</option>
        <option value="householdAppliancesAndUtilities">Household appliances and utilities</option>
        <option value="vehicleCare">Vehicle care</option>
        <option value="others">Others</option>
    </select>

    <label for="supplier">Supplier</label>
    <input id="supplier" name="supplier" type="text" placeholder="Type here is supplier" required/>

    <label for="price">Price</label>
    <input id="price" name="price" type="text" placeholder="Type here is price" required/>

    <label for="dateOfValidated">Date of validated</label>
    <input id="dateOfValidated" name="dateOfValidated" type="date" placeholder="Type here is date of validated" required/>

    <label for="barCode">Barcode</label>
    <input id="barCode" name="barCode" type="text" placeholder="Type here is barcode" required/>

    <label for="unitOfMeasurement">Unit of measurement</label>
    <input id="unitOfMeasurement" name="unitOfMeasurement" type="text" placeholder="Type here is unit of measurement" required/>

    <button type="submit">Register product</button>

</form>
